@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Eczar:wght@500&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --BASE-FONT-MEASURE: 18;
    --BASE-FONT-PX: calc(var(--BASE-FONT-MEASURE) * 1px);
    --BASE-FONT-REM: 1rem;
    --VERTICAL-INCREMENT: calc(var(--BASE-FONT-REM) / 2);
    --ONE-INCREMENT: calc(var(--VERTICAL-INCREMENT));
    --TWO-INCREMENTS: calc(var(--VERTICAL-INCREMENT) * 2);
    --THREE-INCREMENTS: calc(var(--VERTICAL-INCREMENT) * 3);
    --FOUR-INCREMENTS: calc(var(--VERTICAL-INCREMENT) * 4);
    --SIX-INCREMENTS: calc(var(--VERTICAL-INCREMENT) * 6);
    --MAX-SITE-WIDTH: 800;
    --MAX-SITE-WIDTH-REM: calc((var(--MAX-SITE-WIDTH) / var(--BASE-FONT-MEASURE)) * 1rem);
  }

html {
  font-size: var(--BASE-FONT-PX);
}

body,
p
{
  font-family: Rubik, sans-serif;
  font-size: var(--BASE-FONT-REM);
}

body {
  padding: 0 var(--BASE-FONT-REM);
}

p {
  margin-top: 0;
  margin-bottom: var(--THREE-INCREMENTS);
  line-height: 1.5;
  font-weight: 400;
}

a {
  transition: color .4s;
  color: #265C83;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #0074D9; }
a:active  {
  transition: color .3s;
  color: #0074D9;
}

.link { text-decoration: none; }

ul {
  margin-bottom: var(--THREE-INCREMENTS);
}

section {
  margin-bottom: var(--SIX-INCREMENTS);
}

h1 {
  font-family: Eczar, sans-serif;
  font-size: calc((38 / 16) * 1rem);
  margin-top: 0;
  margin-bottom: var(--TWO-INCREMENTS);
  line-height: 1.2;
  font-weight: 400;
}

h2 {
  font-family: Eczar, sans-serif;
  font-size: calc((30 / 16) * 1rem);
  margin-top: var(--FOUR-INCREMENTS);
  margin-bottom: var(--TWO-INCREMENTS);
  line-height: 1.2;
  font-weight: 400;
  border-bottom: 0.1rem solid black;
}

h3 {
  font-family: Eczar, sans-serif;
  font-size: calc((26 / 16) * 1rem);
  color: #333333;
  margin-top: 0;
  margin-bottom: var(--TWO-INCREMENTS);
  line-height: 1.2;
  font-weight: 400;
}

h4 {
  font-family: Eczar, sans-serif;
  font-size: calc((22 / 16) * 1rem);
  color: #333333;
  margin-top: 0;
  margin-bottom: var(--TWO-INCREMENTS);
  line-height: 1.2;
  font-weight: 400;
}

h5 {
  font-family: Eczar, sans-serif;
  font-size: calc((18 / 16) * 1rem);
  color: #333333;
  margin-top: 0;
  margin-bottom: var(--TWO-INCREMENTS);
  line-height: 1.2;
  font-weight: 400;
}

h6 {
  font-family: Eczar, sans-serif;
  font-size: var(--BASE-FONT-REM);
  color: #333333;
  margin-top: 0;
  margin-bottom: var(--TWO-INCREMENTS);
  line-height: 1.2;
  font-weight: 400;
}

main {
  max-width: var(--MAX-SITE-WIDTH-REM);
  margin: 0 auto;
  margin-top: var(--FOUR-INCREMENTS);
}

blockquote {
  background-color: #eeeeee;
  border-left: 2px solid #333333;
  margin-left: 0;
  margin-right: 0;
  padding: var(--ONE-INCREMENT);
}

blockquote :last-child {
  margin-bottom: 0;
}

code {
  font-family: 'DM Mono', monospace;
  font-size: var(--BASE-FONT-REM);
}

p > code {
  color: #a34326;
  font-size: var(--BASE-FONT-REM);
}

li > code {
  color: #a34326;
  font-size: var(--BASE-FONT-REM);
}